doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Receipt Details - KGL
    style.
      /* Internal CSS styling for the receipt */
      .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
      }
      h1, h2 {
        text-align: center;
      }
      table {
        width: 80%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: rgba(255, 182, 193, 0.7); ;
      }
      footer {
        text-align: center;
        padding: 10px;
      }
     
      
  body
    .container
      header
        h1 Receipt Details - KGL
      .receipt
        h2 Receipt Details
        table
          tr
            th Date &amp; time
            td #{new Date(sale.datetime).toLocaleString()}
          tr
            th Product Name
            td #{sale.producename}
          tr
            th Tonnage Sold (kg)
            td #{sale.tonnage}
          tr
            th Amount Paid (UGX)
            td #{sale.amountpaid}
          tr
            th Buyer’s Name
            td #{sale.buyername}
          tr
            th Sales Agent
            td #{sale.salesagent}
          tr
            th Branch
            td #{sale.branch}
      footer
        p © 2024 KGL
